
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title><%= title %></title>
  </head>
  <body>
    <main>
    <h2 class="title">new remainder</h2>
    <div class="o-cont o-cont-n">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col col-n">
                   <form id="input_form" method="POST"  action="/todo/new">
                    <h2 class="titles">add details</h2>
                    <div class="form-groups  form-contro">
                       <div class=" form-group">
                        <span class="badge badge-info">Task</span>
                        <input type="text" placeholder="Mathematics Exam" id="task" name="task"> 
                      </div> 
                      <div>  
                        <span class="badge badge-info">Deadline</span>
                        <input type="date" placeholder="03/01/2002" id="deadline" name="deadline"> 
                     </div>
                     <div>      
                        <span class="badge badge-info">More Info</span>
                        <input type="text" value="Should Start studying" id="info" name="info"> 
                    </div>  
                    </div>
                    <input type="submit" class="btn btn-danger" value="Add" id="dbtn">
                   </form>
                </div>
            
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </main>
  <footer>
    <p>Copyright © 2020 Manoj Ravichandran.</p>
  </footer>      
</body>
</html>
